*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;

}

/* esto significa que a las "a" que son sus hijos le de es margen */
nav > a {
    margin-left: 15px;

}

.hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;

}
/* como a los 450 px se rompe hacemos algo */
@media(max-width:500px){
    /* body{
        background-color: red;
    /* } sirve para corroborar errore
    */  
    nav,div {
      display: none; 
    }
 
    .hamburgesa{
        display: block;
        color: black;
    } 

    .contenedorimgTexto{
        flex-wrap: wrap;

    }
    /* header{
        display: flex;
        flex-direction: column;
    } */
}

.contenedorHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,137,185,0.2) 10%, rgba(0,212,255,0.2) 100%),url(./imagen/nieve.jpg);
    
}

.tituloHero{
    font-size: 4rem ;  /*no usar px para texto, texto siempre rem. para imagens utilizar %*/
    text-transform: uppercase;
    color: white;
    padding: 1.5rem 0; 
    text-align: center;
    }
.textoHero{
    font-size: 1rem;
    color: white;
        max-width: 50%;
    text-align: center;
    padding-bottom: 2rem; /*se puede usar margin tmb*/
}

button{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    color: black;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor:pointer;
    background-color: white;
}

button:hover{
    background: transparent;
    color: transparent;
    border-color: red;
}
    /*Clase miercoles 14/12  */
img{
    width: 30%;
}

.contenedorimgTexto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
        
}
.contenedorTextoAbout{
    width: 40%;
    text-align: center;
    margin-left: 3.5rem;
}

.btnAbout{
    background-color: aqua;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.5rem;
    color: white;
    text-transform: uppercase;
    border: solid aqua;

}

.textoPrincipal{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
}
.textospan{
    color: aqua;
}

.about{
    padding-bottom: 3.5rem;
}

.servicios{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedordeservicios{
    display: flex;
    width: 70%;
    
}

.ser{
    display: flex;
    
}

.colorIcono{
padding: 1rem;

}

.galeria{
    display: flex;
    flex-wrap: wrap;

}

.img{
    width: 25%;
    

}
@media (max-width:900px) {
    img{flex-basis: 100%};
    
}

@media (max-width:500px) {
    .galeria{flex-basis: 50%;}
    
    
}