*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
    
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:rgb(244, 245, 246);
        height: 6rem;
        }
      
    
    .logo{
        width: 180px;
    }
    
    a{
        text-decoration: none;
        color: black;
        font-family:sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
    
    }
    
    /* esto significa que a las "a" que son sus hijos le de es margen */
    nav > a {
        margin-left: 3.25rem;
    
    }
    
    .btnNav{
        padding: 0.9rem 1.6rem;
        border: 1px solid black;
        margin-left: 1rem;
        color: black;
        font-size: 1.25rem;
        cursor:pointer;
        background:rgb(244, 245, 246);
            }


    .btnNav:hover{
        background: black;
        color: white;
        border-color: transparent;
    }
.hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;
} 
/* como a los 450 px se rompe hacemos algo
@media(max-width:500px){
    /* body{
        background-color: red;
    /* } sirve para corroborar errore
    */  
    /* nav,div {
      display: none; 
    }
 
    .hamburgesa{
        display: block;
        color: black;
    } 

    .contenedorimgTexto{
        flex-wrap: wrap;

    } */
    /* header{
        display: flex;
        flex-direction: column;
    } */
/* } */ 

.hero{
    height: 100vh;
    /*:rgb(244, 245, 246);*/
    background-color: aqua;
    display: flex;
    align-items: center;  
    align-content: center;
    justify-content: center; 
    
    /*align-content: center;  */
      
}

.contenedorHero{
    display: flex; 
   /* width: 100%;*/
   align-content: center;
   justify-content: center; 
    background-color: red;
    align-items: center;  
}

.contenedorTextoHero{
    width: 40%;
}

.tituloHero{
    font-size: 3rem ;  /*no usar px para texto, texto siempre rem. para imagens utilizar %*/
    text-transform: uppercase;
    color: black;
    padding: 1.5rem 0; 
    text-align: center;
}


.textoHero{
    font-size: 1rem;
    color: black;
    max-width: 50%;
    text-align: center;
    padding-bottom: 2rem; /*se puede usar margin tmb*/
}

img{
    width: 40%;
    display: block;
}


/* button{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    color: black;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor:pointer;
    background-color: white;
} */


    /*Clase miercoles 14/12  */
/* img{
    width: 30%;
} */
/* .contenedorTextoAbout{
    width: 40%;
    text-align: center;
    margin-left: 3.5rem;
} */

/* .btnAbout{
    background-color: aqua;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.5rem;
    color: white;
    text-transform: uppercase;
    border: solid aqua;
} */

/* .textoPrincipal{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
} */


/*
@media (max-width:900px) {
    img{flex-basis: 100%};
    
}

@media (max-width:500px) {
    .galeria{flex-basis: 50%;}
       
} */